<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">

    <!-- Fav Icon -->
    <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">

    <!-- Application CSS Files -->
    {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}
</head>

<body>

    <header ng-include="'/modules/core/client/views/header.client.view.html'"></header>

    <div class="top-content">
        <div class="container">
            {% block content %}{% endblock %}                    
        </div>
    </div>

    <!--Application JavaScript Files-->
    {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}
</body>
</html>