<!DOCTYPE html>
<html ng-app="digitalAuditApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- Meta, title, CSS, favicons, etc. -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Digital Audit Main</title>
		
		<link rel="stylesheet" href="../css/bootstrap.min.css"/>
		<link rel="stylesheet" href="../css/style.css"/>
		
	</head>
	<body>
		<div class="container">
			<div class="ng-view"></div>
		</div>
		<script src="../script/jquery-2.1.4.min.js"></script>
		<script src="../script/angular.min.js"></script>
		<script src="../script/app.js"></script>
		<script src="../script/angular-route.js"></script>
	</body>
</html>