			  
<div class="row" ng-controller="ForgotPasswordController">
	<div class="loginWrapper">
		<section class="login_content">
			<form name="forgotForm" ng-submit="forgotpwda()" method="post" novalidate>
			  <div class="alignCenter"><img src="../modules/core/client/img/logo/logo.png"/></div>
			  <div class="loginInput">
				  <div class="inputField">
					<input type="email" class="form-control" placeholder="Username" ng-model="user.email"/>
				  </div>
			  </div>
			  <div class="alignCenter">
				<button class="btn btn-primary submit">Submit</button>
			  </div>

			  <div class="clearfix"></div>						  
			</form>
		</section>
	</div>
</div>